body {
  background-color: white;
  font-family: sans-serif;
  overflow: hidden;
}

section {
  display: flex;
  height: 100vh;
}

section img {
  margin: auto;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s ease;
}

.swipe {
  position: fixed;
  width: 100%;
  display: flex;
  bottom: 0;
  justify-content: center;
}
