body {
  background-color: white;
  font-family: sans-serif;
  overflow: hidden;
}

section {
  display: flex;
  height: 100vh;
}

section img {
  margin: auto;
  padding: 10px;
}

[data-id='1'] {
  padding-bottom: 199px;
}

[data-id='2'] {
  width: 400px;
  padding-right: 8px;
  padding-bottom: 80px;
}

[data-id='3'] {
  padding-bottom: 76px;
  padding-bottom: 136px;
}

[data-id='logo_1'] {
  padding-bottom: 76px;
  padding-bottom: 136px;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s ease;
  padding-bottom: 271px;
  padding-right: 165px;
}

.swipe {
  position: fixed;
  width: 100%;
  display: flex;
  bottom: 0;
  justify-content: center;
}
